.rs-picker-menu {
    position: absolute;
    text-align: left;
    z-index: 9999;
   
}
.rs-picker-menu.dark .rs-tree{
    background-color: #424242;
    color:'#fff '
}
.rs-picker-menu.dark .rs-tree .rs-tree-node-label-content{
    color: white;
}
.rs-picker-menu.light .rs-tree .rs-tree-node-label-content{
    color: #424242;
}
.rs-picker-menu.light .rs-tree{
    background-color: #ffffff;
    color:'#424242'
}
/*
.rs-picker-menu.dark .rs-tree .rs-tree-node-label-content{
     background-color: #979a9b; 
}*/

.rs-picker-menu.dark .rs-tree-node-active > .rs-tree-node-label > .rs-tree-node-label-content {
    background-color: #979a9b;
}
.somedark  .rs-picker-default .rs-picker-toggle.rs-btn{
    background-color: #424242 !important;
    
}
.somedark .rs-picker-toggle-value {
    color: white !important;
}
.rs-tree-node > .rs-tree-node-label > .rs-tree-node-label-content:hover,
.rs-tree-node > .rs-tree-node-label > .rs-tree-node-label-content:focus,
.rs-tree-node > .rs-tree-node-label:focus
{
    background-color: transparent  !important;
    box-shadow: none;
}
.rs-dropdown-open.rs-dropdown-placement-bottom-start > .rs-dropdown-menu {
    height: 280px;
    overflow: auto;
    width: 100%;
}  
.rs-dropdown {
    width: 100%;
    text-align: left;
    color: #424242;
}

.paragraph p {
    text-align: left;
    font-size: 15px;
}
.rs-dropdown-menu {
    background-color: #424242 !important;
}
.rs-dropdown-menu .rs-dropdown-item-content {
    color:#DFDEDE;
    font: Montserrat;
    font-weight: 400;   
    font-size: 18px;
    line-height: 22px;
}   
.rs-dropdown-menu .rs-dropdown-menu {
    background-color: #424242;
}
.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-top: 13px;
    padding-bottom: 7px;
    width: 280px;
    margin-left: -18px;
    height: 50px;
  }
.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color:#424242;
}
.rs-picker-menu.fade.in.placement-bottom-start.rs-picker-tree-menu {
    left:11px !important;
    width:280px;
}
.rs-picker-toggle-wrapper {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin-bottom: 20px;
}
.rs-picker-toggle-clean {
    margin-top: 5px;

}
.rs-picker-toggle-caret {
    margin-top: 5px;

}
